<nav class="navbar navbar-toggleable-md navigation">
      
      <a class="navbar-brand" href="#"><i class="fa fa-graduation-cap"></i>&nbsp;Student Test Management</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span ><i class="fa fa-toggle-down mt-auto"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <div *ngFor="let user of students"><div *ngIf="isLoggedIn && user.email == loggedInUser
            && user.role == 'student'"><app-studentnav></app-studentnav></div>
        <div *ngIf="isLoggedIn && user.email == loggedInUser && user.role == 'teacher'" ><app-teachernav></app-teachernav></div>
        </div>
        <div *ngIf="isLoggedIn && loggedInUser == 'stmuserlogin1234@gmail.com'"><app-adminnav>
        </app-adminnav></div>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!isLoggedIn" class="nav-item">
                <a class="nav-link" href="#" routerLink="/login">Login</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
              <a class="nav-link" href="#">
              <img src="{{userPhotoUrl}}" height="30" width="30">&nbsp;{{loggedInUser}}</a>
            </li> 
            <li *ngIf="isLoggedIn" class="nav-item">
              <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
            </li>    
        </ul>    
      </div>
    </nav>
    <br>