
  <div class="container mt-2">
      <!-- From here -->
      <div class="card-deck">
          <div class="card bg-primary shadow">
            <div class="card-body text-center">
              <p class="card-text"><i class="fa fa-paste my-2"></i><br>
              <button  type="button" class="btn btn-md btn-green my-2" [routerLink]="['/subject/'+1]">English</button></p>
            </div>
          </div>
          <div class="card bg-primary shadow">
              <div class="card-body text-center">
                <p class="card-text"><i class="fa fa-paste my-2"></i><br>
                <button type="button" class="btn btn-md btn-green my-2" [routerLink]="['/subject/'+2]">Maths</button></p>
              </div>
            </div>
            <div class="card bg-primary shadow">
                <div class="card-body text-center">
                  <p class="card-text"><i class="fa fa-paste my-2"></i><br>
                  <button type="button" class="btn btn-md btn-green my-2" [routerLink]="['/subject/'+3]">Science</button></p>
                </div>
              </div>
        </div>      
      <div class="card-deck mt-2">
              <div class="card bg-primary shadow">
                <div class="card-body text-center">
                  <p class="card-text"><i class="fa fa-paste my-2"></i><br>
                  <button type="button" class="btn btn-md btn-green my-2" [routerLink]="['/subject/'+0]">Hindi</button></p>
                </div>
              </div>
              <div class="card bg-primary shadow">
                <div class="card-body text-center">
                  <p class="card-text"><i class="fa fa-paste my-2"></i><br>
                  <button type="button" class="btn btn-md btn-green my-2" [routerLink]="['/subject/'+4]">SST</button></p>
                </div>
              </div>
      
      <!-- From here -->
    </div>
  </div>
  