<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i>&nbsp;Questions</h2>
  </div>
</div>
<table *ngIf="tests?.length> 0;else noTests" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Subject</th>
      <th>Test ID</th>
      <th>Question</th>
      <th>Option 1</th>
      <th>Option 2</th>
      <th>Option 3</th>
      <th>Option 4</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let test of tests">
        <td *ngIf="test.subject == 'Hindi'">{{test.subject}}</td>
        <td *ngIf="test.subject == 'Hindi'">{{test.testid}}</td>
        <td *ngIf="test.subject == 'Hindi'">{{test.question}}</td>
        <td *ngIf="test.subject == 'Hindi'">{{test.option1}}</td>
        <td *ngIf="test.subject == 'Hindi'">{{test.option2}}</td>
        <td *ngIf="test.subject == 'Hindi'">{{test.option3}}</td>
        <td *ngIf="test.subject == 'Hindi'">{{test.option4}}</td>
    </tr>
    <br>
    <tr *ngFor="let test of tests">
      <td *ngIf="test.subject == 'Maths'">{{test.subject}}</td>
      <td *ngIf="test.subject == 'Maths'">{{test.testid}}</td>
      <td *ngIf="test.subject == 'Maths'">{{test.question}}</td>
      <td *ngIf="test.subject == 'Maths'">{{test.option1}}</td>
      <td *ngIf="test.subject == 'Maths'">{{test.option2}}</td>
      <td *ngIf="test.subject == 'Maths'">{{test.option3}}</td>
      <td *ngIf="test.subject == 'Maths'">{{test.option4}}</td>
  </tr>
  <br>
  <tr *ngFor="let test of tests">
    <td *ngIf="test.subject == 'Science'">{{test.subject}}</td>
    <td *ngIf="test.subject == 'Science'">{{test.testid}}</td>
    <td *ngIf="test.subject == 'Science'">{{test.question}}</td>
    <td *ngIf="test.subject == 'Science'">{{test.option1}}</td>
    <td *ngIf="test.subject == 'Science'">{{test.option2}}</td>
    <td *ngIf="test.subject == 'Science'">{{test.option3}}</td>
    <td *ngIf="test.subject == 'Science'">{{test.option4}}</td>
</tr>
<br>
<tr *ngFor="let test of tests">
  <td *ngIf="test.subject == 'English'">{{test.subject}}</td>
  <td *ngIf="test.subject == 'English'">{{test.testid}}</td>
  <td *ngIf="test.subject == 'English'">{{test.question}}</td>
  <td *ngIf="test.subject == 'English'">{{test.option1}}</td>
  <td *ngIf="test.subject == 'English'">{{test.option2}}</td>
  <td *ngIf="test.subject == 'English'">{{test.option3}}</td>
  <td *ngIf="test.subject == 'English'">{{test.option4}}</td>
</tr>
<br>
<tr *ngFor="let test of tests">
  <td *ngIf="test.subject == 'SST'">{{test.subject}}</td>
  <td *ngIf="test.subject == 'SST'">{{test.testid}}</td>
  <td *ngIf="test.subject == 'SST'">{{test.question}}</td>
  <td *ngIf="test.subject == 'SST'">{{test.option1}}</td>
  <td *ngIf="test.subject == 'SST'">{{test.option2}}</td>
  <td *ngIf="test.subject == 'SST'">{{test.option3}}</td>
  <td *ngIf="test.subject == 'SST'">{{test.option4}}</td>
</tr>
  </tbody> 
</table>

<ng-template #noTests>
  <hr>
  <h5>There are no questions in the system</h5>
</ng-template>
