<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i>&nbsp;Questions</h2>
  </div>
</div>
<table *ngFor="let test of tests" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Subject</th>
      <th>Question</th>
      <th>Option 1</th>
      <th>Option 2</th>
      <th>Option 3</th>
      <th>Option 4</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of h">
        <td *ngIf="test[n].subject=='Hindi'">{{test[n].subject}}</td>
        <td *ngIf="test[n].subject=='Hindi'">{{test[n].question}}</td>
        <td *ngIf="test[n].subject=='Hindi'">{{test[n].option1}}</td>
        <td *ngIf="test[n].subject=='Hindi'">{{test[n].option2}}</td>
        <td *ngIf="test[n].subject=='Hindi'">{{test[n].option3}}</td>
        <td *ngIf="test[n].subject=='Hindi'">{{test[n].option4}}</td>
    </tr>
    <tr *ngFor="let n of [n]">
        <td *ngIf="test[n].subject=='English'">{{test[n].subject}}</td>
        <td *ngIf="test[n].subject=='English'">{{test[n].question}}</td>
        <td *ngIf="test[n].subject=='English'">{{test[n].option1}}</td>
        <td *ngIf="test[n].subject=='English'">{{test[n].option2}}</td>
        <td *ngIf="test[n].subject=='English'">{{test[n].option3}}</td>
        <td *ngIf="test[n].subject=='English'">{{test[n].option4}}</td>
    </tr>
    <tr *ngFor="let n of m">
        <td *ngIf="test[n].subject=='Maths'">{{test[n].subject}}</td>
        <td *ngIf="test[n].subject=='Maths'">{{test[n].question}}</td>
        <td *ngIf="test[n].subject=='Maths'">{{test[n].option1}}</td>
        <td *ngIf="test[n].subject=='Maths'">{{test[n].option2}}</td>
        <td *ngIf="test[n].subject=='Maths'">{{test[n].option3}}</td>
        <td *ngIf="test[n].subject=='Maths'">{{test[n].option4}}</td>
    </tr>
    <tr *ngFor="let n of s">
        <td *ngIf="test[n].subject=='Science'">{{test[n].subject}}</td>
        <td *ngIf="test[n].subject=='Science'">{{test[n].question}}</td>
        <td *ngIf="test[n].subject=='Science'">{{test[n].option1}}</td>
        <td *ngIf="test[n].subject=='Science'">{{test[n].option2}}</td>
        <td *ngIf="test[n].subject=='Science'">{{test[n].option3}}</td>
        <td *ngIf="test[n].subject=='Science'">{{test[n].option4}}</td>
    </tr>
    <tr *ngFor="let n of ss">
        <td *ngIf="test[n].subject=='SST'">{{test[n].subject}}</td>
        <td *ngIf="test[n].subject=='SST'">{{test[n].question}}</td>
        <td *ngIf="test[n].subject=='SST'">{{test[n].option1}}</td>
        <td *ngIf="test[n].subject=='SST'">{{test[n].option2}}</td>
        <td *ngIf="test[n].subject=='SST'">{{test[n].option3}}</td>
        <td *ngIf="test[n].subject=='SST'">{{test[n].option4}}</td>
    </tr>
    
    <br>
  </tbody> 
</table>

<ng-template #noTests>
  <hr>
  <h5>There are no questions in the system</h5>
</ng-template>
