<div class="row">
  <div class="col-md-6 offset-md-3 ">
    <div class="card loginpanel">
      <div class="card-block">
        <img class="mx-auto d-block" src="../../../assets/Logo/imageedit_1_8019308805.png" height="150px" alt="Logo">
        <h1 class="text-center" style="color:#0a3b64;">Login</h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
          </div>
          <input type="submit" class="btn btn-block mx-auto" value="Login" style="width: 200px;">
          <div class="bg-dark mt-2">
          <button type="button" class="btn btn-block  mx-auto" 
          style="width: 200px; background-color: rgb(216, 46, 46); color:white;" (click)="onGoogle()">
              <i class="fa fa-google-plus-square" aria-hidden="true"></i>&nbsp;Login with Google
           </button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>