
  <div class="container mt-5">
      <!-- From here -->
      <div class="card-deck pt-5">
          <div class="card bg-primary shadow">
            <div class="card-body text-center">
              <p class="card-text"><i class="fa fa-paste my-2"></i><br>
              <button type="button" class="btn btn-md btn-green my-2" routerLink="/taketest">Take Test</button></p>
            </div>
          </div>
          <div class="card bg-primary shadow">
            <div class="card-body text-center"> 
              <p class="card-text"><i class="fa fa-address-card my-2"></i><br>
              <button type="button" class="btn btn-md btn-green my-2" routerLink="/marks">See all the Marks</button></p>
            </div>
          </div>
      
      <!-- From here -->
    </div>
  