i{
    font-size:100px;
    color:white;
}

.btn-green
{
    background-color: #3B945E;
    cursor: pointer;
    color:white;
}
.shadow
{
    box-shadow: 0px 0px 10px;
}
button:hover
{
    transform: scale(1.2);
}