
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/adminhome"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/addteacher">Add Teacher</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/dashboard">Students</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/questions">Questions</a>
    </li> 
  </ul>  